body {
  margin: 0;
  font-family: Arial, sans-serif;
  overflow: hidden; /* Chặn cuộn bên ngoài container */
  height: 100vh;
}

/* Container chính chứa các slide */
.slides-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  overflow: hidden; /* Đảm bảo chỉ cuộn trong cơ chế đã định */
  margin-top: 60px;
}

/* Mỗi slide */
.slide {
  height: 100vh; /* Chiều cao màn hình */
  width: 100%;
  display: flex; /* Đảm bảo luôn tồn tại trong DOM */
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  pointer-events: none; /* Ngăn tương tác với các slide không được kích hoạt */
}

/* Slide hiện tại */
.slide-active {
  display: flex; /* Đảm bảo hiển thị */
  opacity: 1;
  pointer-events: auto; /* Cho phép tương tác */
}
